 <div class="row">
                <div class="column large-full">
                    <nav class="pgn">
                        <ul>
                            <li><a class="pgn__prev" href="index.html">Prev</a></li>
                            <li><a class="pgn__num" href="index.html">1</a></li>
                             <li><a class="pgn__num" href="ix.html">2</a></li>
                            <li><a class="pgn__next" href="ix.html">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Typerite 2019 - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">我的博客</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">我的博客</a>
</span> <span>Design by styleshout</span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>   